*, *::before, *::after { box-sizing:border-box; margin:0; padding:0; }
.hidden { display:none; }
table { border:none; border-collapse:collapse; }
table th, table td { border:solid 1px #F80; padding:0.5em; }
.modal {
  position:absolute; top:1.2em;right:10%;bottom:1.2em;left:10%; z-index:2001;
  background:white; border:solid 1px black; border-radius:1em; padding:0.7em;
}
.modal-inner { width:100%; height:100%; overflow:auto; }
.modal-shown { overflow:hidden; }
.modal-shown::after {
  content: "";
  position:absolute; top:0;right:0;bottom:0;left:0; z-index:2000;
  background:rgba(0,0,0,0.3);
}
.row { width:calc( 100% - 1em ); margin:0.5em; }
.row::after { clear:both; }
.center { text-align:center; }
div.vcenter { position:relative; top:50%; transform:translateY(-50%);}

.kurukuru {
  display:inline-block; display:inline flow-root; width:32px; height:32px;
  border:4px #DDD solid; border-top:4px #F80 solid; border-radius:50%;
  animation:kurukuru-anime 1.0s infinite linear;
}
.kurukuru-large { width:80px; height:80px; border-width: 10px; }
@keyframes kurukuru-anime { 100% { transform:rotate(360deg); } }
